body {
    font-family: arial,sans-serif;
    margin: 40px;
    background-color: greenyellow;
}

form{
    max-width: 40px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: greenyellow;
}
